#basic {
    width: 600px;
    .ant-list-item {
        cursor: pointer;
        transition: .2s;
        &:hover {
            background: #dadada;
        }
    }
    .ant-form-item-control-input-content {
        > div {
            margin-right: 20px;
        }
        .ant-checkbox-group {
            > label {
                margin-right: 10px;
            }
        }
    }
}